[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "<82.0.0"
cryptography = "*"
django-rest-knox = "*"
fastapi = "*"
uvicorn = "*"
sentence-transformers = "*"
groq = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pgvector = "*"
httpx = "*"
nh3 = "*"
django-ratelimit = "*"
slowapi = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.14"
